<main class="autologin">
    <section class="autologin__image">
        <img src="assets/images/svg/loadingInfoImg.svg" alt="background">
    </section>
    <section class="autologin__message">
        <p class="message__text">Estamos validando tu información</p>
        <p class="message__text-secundary">Estamos validando tu información</p>
    </section>
    <section class="autologin__load-animation">
        <ng-container>
            <ng-lottie [options]="options" (loopComplete)="onLoopComplete()"></ng-lottie>
        </ng-container>
    </section>
    <section class="autologin__messages">
        <p class="message__footer">
            {{footerMessages[mensajeActualIndex] }}
        </p>

    </section>
</main>