.content {
    padding: 0.5rem;
}

.title {
    color: #1e88e5;
    font-weight: 600;
    margin-bottom: 0;
}

.info-salary {
    border-radius: 5px;
    border: 1px solid;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    background-color: #1e88e5;
    padding: 0.5rem;
}