registry=https://pkgs.dev.azure.com/Shared-Service-GM/_packaging/Shared-Service-GM/npm/registry/ 
               
always-auth=true
; begin auth token
//pkgs.dev.azure.com/Shared-Service-GM/_packaging/Shared-Service-GM/npm/registry/:username=Shared-Service-GM
//pkgs.dev.azure.com/Shared-Service-GM/_packaging/Shared-Service-GM/npm/registry/:_password=b3NkM21rc2w3anRwbHkydmN3NXVuN2RteXdjMnJ3cHd5M2RjY2hpemlwbnN6NWZndGd0cQ==
//pkgs.dev.azure.com/Shared-Service-GM/_packaging/Shared-Service-GM/npm/registry/:email=jquesada@grupomontecristo.com
//pkgs.dev.azure.com/Shared-Service-GM/_packaging/Shared-Service-GM/npm/:username=Shared-Service-GM
//pkgs.dev.azure.com/Shared-Service-GM/_packaging/Shared-Service-GM/npm/:_password=b3NkM21rc2w3anRwbHkydmN3NXVuN2RteXdjMnJ3cHd5M2RjY2hpemlwbnN6NWZndGd0cQ==
//pkgs.dev.azure.com/Shared-Service-GM/_packaging/Shared-Service-GM/npm/:email=jquesada@grupomontecristo.com
; end auth token