.footer {
    padding: 1rem;
    background-color: #f4f4f4;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;

    .footer-text {
        font-size: 12px;
        margin: 0;
    }
}