@use '../../../../../../../assets/scss//variables' as var;
@use '../../../../../../../assets/scss/buttons' as buttons;
@use '../../../../../../../assets/scss/mixins' as mixins;


$border-light-grey: 1px solid var.$light-grey;

.header-container {
    display: flex;
    justify-content: space-between;

    @include mixins.small-screen {
        flex-direction: column
    }
    @include mixins.medium-screen {
        flex-direction: column
    }
    @include mixins.big-screen {
        flex-direction: column;
        margin-bottom: 1rem;
    }


    .customer-information {
        @include mixins.common-text-properties(var.$font-family-Nunito, 32px, var.$primary-dark-gray, var.$semibold );

        @include mixins.small-screen {
            font-size: 24px;
        }
        @include mixins.medium-screen {
            font-size: 26px;
        }

        .appointment-number {
            color: var.$primary-purple;
            margin-left: 16px;
            font-size: 14px;
            font-weight: var.$light;

            @include mixins.small-screen {
                margin-left: 0;
            }
        }
    }

    .action-buttons {
        display: flex;
        gap: 16px;

        @include mixins.small-screen {
            flex-direction: column
        }

        .changes-history {
            display: flex;
            justify-content: center;
            gap: 4px;
            @include buttons.custom-icon-buttton(146px, var.$base-text-12, var.$white, var.$regular, $border-light-grey, var.$radius-5, 32px, var.$font-family-Nunito, none, 8px, 0, 0, 0, 0, var.$grey-medium-hard );

            img {
                height: 16px;
                width: 16px;
            }
        }

        .save-button {
            display: flex;
            justify-content: center;
            gap: 4px;
            @include buttons.custom-icon-buttton(80px, var.$base-text-12, var.$white, var.$regular, $border-light-grey, var.$radius-5, 32px, var.$font-family-Nunito, none, 8px, 0, 0, 0, 0, var.$grey-medium-hard );

            img {
                height: 16px;
                width: 16px;
            }
        }

        .share-button {
            display: flex;
            justify-content: center;
            gap: 4px;
            @include buttons.custom-icon-buttton(90px, var.$base-text-12, var.$grey-medium-hard, var.$regular, none, var.$radius-5, 32px, var.$font-family-Nunito, none, 8px, 0, 0, 0, 0, var.$white );

            img {
                height: 16px;
                width: 16px;
            }
        }
    }

}

.instructions-container {
    @include mixins.small-screen {
        margin-top: 24px;
    }
    @include mixins.medium-screen {
        margin-top: 24px;
    }

    .instructions-text {
        @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-14, var.$primary-dark-gray, var.$light);
        text-align: justify;
    }
}