<article class="header-container">
    <div class="customer-information">
      <p class="customer-name">{{userName}} <span class="appointment-number">Encuentro N° 000292</span> </p>
    </div>
    <div class="action-buttons">
      <button class="changes-history" (click)="onToggleContent()">
        <img src="assets/images/historyGrey.svg" alt="history">
        Historial de cambios
      </button>
      <button class="save-button" (click)="saveEpicrisis()">
        <img src="assets/images/saveGrey.svg" alt="save">
        Guardar
      </button>
      <button class="share-button">
        <img src="assets/images/shareWhite.svg" alt="share">
        Compartir
      </button>
    </div>
  </article>
  <section class="instructions-container">
    <p class="instructions-text">
      El transcriptor Arthur es una inteligencia artificial que te permitirá realizar una transcripción de audio a una
      epicrisis escrita para el pacientede manera rápida y fácil.
    </p>
  </section>
