@use '../../../../assets/scss/mixins' as mixins;
@use '../../../../assets/scss/variables' as var;

.header {
    display: flex;
    background-color: var.$blue-mexpress;
    padding: 0.5rem;

    @include mixins.small-screen {
        padding: 16px;
    }
}

.header .logo-image {
    height: clamp(2rem, 4vw, 4rem); // Ajusta dinámicamente según el ancho de la pantalla
}

.header .header__center-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 200px; // Evita que el contenido sea demasiado pequeño en pantallas muy pequeñas
}



.header .header__menu-icon {
    margin-right: 38px;
    display: none;

    @include mixins.small-screen {
        display: block;
    }

    @include mixins.medium-screen {
        display: block;
    }
}

.header .header__logo {
    .logo-image {
        @include mixins.small-screen {
            height: 3rem;
        }
    }

}