<section class="information-header">
  <p class="title-ionformation">
    Generación de epicrisis a partir de la transcripción
  </p>
</section>

<div class="doctor-pacient-info">
  <article class="doctor-info">
    <p class="doctor-label">Nombre del Doctor:</p>
    <p class="doctor-name"></p>
  </article>
  <article class="pacient-info">
    <p class="pacient-label">Nombre del Paciente:</p>
    <p class="pacient-name">{{transcriptions?.patient ?? ''}}</p>
  </article>
</div>
<article class="title-info">
  <p class="transcription-title-label">Resumén:</p>
  <p class="transcription-info">{{transcriptions?.reason_for_consultation??''}}</p>
</article>
<article class="symtoms-info">
  <p class="symtoms-label">Sintomas:</p>
  @for (item of transcriptions?.signs_and_symptoms??[]; track item; let index = $index) {

  <p class="symtoms-description">{{item}}</p>

  }
</article>
<article class="user-history-info">
  <p class="history-label">Signo vitales:</p>
  @for (item of transcriptions?.vital_signs??[]; track item; let index = $index) {

  <p class="history-description">{{item.key}}: {{item.value}}</p>

  }

</article>