@use '../../../../../../../assets/scss/variables' as var;
@use '../../../../../../../assets/scss/buttons' as buttons;
@use '../../../../../../../assets/scss/mixins' as mixins;


.information-header {
    .title-ionformation {
        @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-20, var.$primary-dark-gray, var.$semibold );
            @include mixins.small-screen {
               font-size: var.$base-text-18;
            }
            @include mixins.medium-screen {
                font-size: var.$base-text-18;
            }
    }
}

.doctor-pacient-info {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 24px;


    @include mixins.small-screen {
        grid-template-columns: 100%;
        gap: 8px;
    }
    @include mixins.medium-screen {
        grid-template-columns: 100%;
        gap: 8px;
    }
    @include mixins.big-screen {
        grid-template-columns: 100%;
        gap: 8px;
    }

    .doctor-info {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .doctor-label {
            @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-20, var.$primary-dark-gray, var.$semibold );
            @include mixins.small-screen {
               font-size: var.$base-text-16;
            }
            @include mixins.medium-screen {
                font-size: var.$base-text-16;
            }

        }

        .doctor-name {
            @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-14, var.$primary-dark-gray, var.$light )
        }
    }

    .pacient-info {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .pacient-label {
            @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-20, var.$primary-dark-gray, var.$semibold );
            @include mixins.small-screen {
               font-size:var.$base-text-16;
            }
            @include mixins.medium-screen {
                font-size: var.$base-text-16;
            }
        }

        .pacient-name {
            @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-14, var.$primary-dark-gray, var.$light )
        }
    }

}

.title-info {
    margin-top: 16px;

    .transcription-title-label {
        @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-20, var.$primary-dark-gray, var.$semibold );
        @include mixins.small-screen {
           font-size: var.$base-text-16;
        }
        @include mixins.medium-screen {
            font-size:var.$base-text-16;
        }
    }

    .transciption-info {
        margin-top: 4px;
        @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-14, var.$primary-dark-gray, var.$light )
    }
}

.symtoms-info {
    margin-top: 16px;

    .symtoms-label {
        @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-20, var.$primary-dark-gray, var.$semibold );
        @include mixins.small-screen {
           font-size:var.$base-text-16;
        }
        @include mixins.medium-screen {
            font-size: var.$base-text-16;
        }
    }

    .symtoms-description {
        margin-top: 4px;
        @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-14, var.$primary-dark-gray, var.$light );

    }
}

.user-history-info {
    margin-top: 16px;
    width: 95%;

    .history-label {
        @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-20, var.$primary-dark-gray, var.$semibold );
        @include mixins.small-screen {
           font-size: var.$base-text-16;
        }
        @include mixins.medium-screen {
            font-size: var.$base-text-16;
        }
    }

    .history-description {
        margin-top: 4px;
        text-align: justify;
        max-height: 250px;
        overflow: auto;
        @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-14, var.$primary-dark-gray, var.$light )
    }
}
