@use '../../../../../assets/scss//variables' as var;
@use '../../../../../assets/scss/buttons' as buttons;
@use '../../../../../assets/scss/mixins' as mixins;


$border-light-grey: 1px solid var.$light-grey;

.epicrisis-edit-main {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
    .appointment-information{
      margin-top: 24px;
    }

    .information-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 16px;

        @include mixins.small-screen {
            grid-template-columns: 100%;
            gap: 22px;
        }
        @include mixins.medium-screen {
            grid-template-columns: 100%;
            gap: 22px;
        }
        @include mixins.big-screen {
            grid-template-columns: 100%;
            gap: 22px;
        }


        .transcription {
            margin-top: 24px;

            .transcription-title {
                @include mixins.common-text-properties(var.$font-family-Nunito, 20px, var.$primary-dark-gray, var.$semibold );
            }

            .transcription-container {
                height: 90%;
                margin-top: 24px;
                overflow: auto;
                @include mixins.small-screen {
                    height: auto;
                }
                @include mixins.medium-screen {
                   height: auto;
                }
                @include mixins.big-screen {
                    height: auto;
                 }
                .transcripted-text-container {
                    .transcript-area {
                        background: transparent;
                        border: none;
                        width: 100%;
                        resize: none;
                        overflow-y: auto;
                        text-align: justify;
                    }
                }

                .transcription-message-container {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .transcription-message {
                        @include mixins.common-text-properties(var.$font-family-Nunito, 14px, var.$primary-dark-gray, var.$light );
                    }

                    img {
                        height: 16px;
                        width: 16px;
                    }
                }

                .transcription-instructions {
                    @include mixins.common-text-properties(var.$font-family-Nunito, 14px, var.$primary-dark-gray, var.$light );
                    margin-top: 24px;
                    line-height: 19px;
                }

                .test-mic {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    @include buttons.custom-icon-buttton(194px, var.$base-text-12, var.$white, var.$light, $border-light-grey, var.$radius-5, 32px, var.$font-family-Nunito, none, 8px, 24px, 0, 0, 0, var.$grey-medium-hard );
                }
            }
        }
    }


    .divider-line {
        border-bottom: 1px solid var.$black;
        margin: 24px 0;
    }

    .card-footer-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mixins.small-screen {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }

        .recorder-detail {
          margin-top: 16px;
          display: flex;
          align-items: center;

          .img-record{
            z-index: 11111;
          }

          .description-ready{
            animation: blinker 3.5s linear infinite;
            background-color: var.$blue-astral;
            border-radius: 20px;
            padding: 2px 15px;
            margin-left: -15px;
            @include mixins.common-text-properties(var.$font-family-Nunito, 12px, var.$white, var.$light );
          }

          @keyframes blinker {
            60% {
              opacity: 0;
            }
          }

          //three dots
          .three-dots {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .three-dots span {
            width: 6px;
            height: 6px;
            margin: 3px;
            background-color: var.$blue-astral;
            border-radius: 50%;
            display: inline-block;
            animation: bounce 0.6s infinite alternate;
          }

          .three-dots span:nth-child(2) {
            animation-delay: 0.2s;
          }

          .three-dots span:nth-child(3) {
            animation-delay: 0.4s;
          }

          @keyframes bounce {
            to {
              transform: translateY(-5px);
            }
          }
      }

        .recording-actions {
            display: flex;
            gap: 16px;

            .epicrisis-icon-button {
                @include buttons.icon-button(30px, 30px, transparent, none, none, none);

                .footer-mic {
                    height: 27px;
                }
            }

            .finish-recording{
              @include buttons.custom-icon-buttton(80px, var.$base-text-12, var.$blue-astral, var.$regular, none, var.$radius-5, 32px, var.$font-family-Nunito, none, revert, 0, 0, 0, 0, var.$white );
            }
        }

        .status-epicrisis {
            display: flex;
            gap: 16px;
            align-items: center;

            .status-circle {
                height: 14px;
                width: 14px;
                border-radius: 50%;
                background: var.$dark-medium-grey;
            }

            .status-description {
                @include mixins.common-text-properties(var.$font-family-Nunito, var.$base-text-14, var.$primary-dark-gray, var.$semibold )
            }
        }

        .aprove-button {
            @include buttons.custom-icon-buttton(80px, var.$base-text-12, var.$grey-medium-hard, var.$regular, none, var.$radius-5, 32px, var.$font-family-Nunito, none, 8px, 0, 0, 0, 0, var.$white );

        }
    }

}
