@use "../../../../../assets/scss/variables" as var;
@use "../../../../../assets/scss/mixins" as mixins;

//css tabs
::ng-deep .mat-mdc-tab-labels{
  width: 133px !important;
  padding-left: 35px;
}

::ng-deep .mat-mdc-tab-list{
  border-bottom: 1px solid var.$primary-dark-gray-light;
}
::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label{
    background-color: var.$primary-purple;
    padding: 8px;
    border-radius: 35px;
    font-size: 12px;
    font-weight: 400;
    font-family: var.$font-family-Nunito;
}

 ::ng-deep .mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
  //border bottom tab
  --mdc-tab-indicator-active-indicator-color: #791B39 !important;
  --mat-tab-header-active-focus-indicator-color: #791B39 !important;
  --mat-tab-header-active-hover-indicator-color: #791B39 !important;

  //label tab
  --mat-tab-header-active-label-text-color:white !important;
  --mat-tab-header-active-focus-label-text-color:white !important;
  --mat-tab-header-active-hover-label-text-color:white !important;
}

//dentro de cada tab
.section-gray{
  height: calc(100vh - 17rem);
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #D0D0D04D;
  border-radius: 16px;
  padding: 17px;

  .section-white{
    height: calc(100vh - 21rem);
    overflow-y: auto;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 0px 2px 0px #00000040;
    border-radius: var.$radius-5;
  }
}

::ng-deep .gm-footer{
  margin-top: 16px!important;
}

