
 <!-- <ngx-dropdown-lang ></ngx-dropdown-lang> -->
<mat-tab-group
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
>
  <mat-tab [label]="tabTitlePrincipal">
    <section class="section-gray">
      <section class="section-white">
        <ngx-component-home-filter
          [sortOptions]="sortOptions"
        ></ngx-component-home-filter>
        <ngx-component-table
          [config]="_config"
          [datasource]="dataSource"
        ></ngx-component-table>
        <ngx-component-cards-table  [config]="_config"
        [datasource]="dataSource"></ngx-component-cards-table>
      </section>
      <ngx-gm-footer
        [company]="companyName"
        [footerAlign]="footerAlign"
      ></ngx-gm-footer>
    </section>
  </mat-tab>
  @for (tab of _tabsComponent; track tab; let index = $index) {
  <mat-tab>
    <ng-template mat-tab-label>
      {{ tab.short_name }}
      <img
        src="../../../assets/images/svg/close.svg"
        alt="icon close"
        class="ms-1"
        (click)="removeTab(index, tab.position)"
      />
    </ng-template>
    <section class="section-gray">
      <section class="section-white">
        <app-epicrisis-edit [patient]="tab"></app-epicrisis-edit>
      </section>
      <ngx-gm-footer
        [company]="companyName"
        [footerAlign]="footerAlign"
      ></ngx-gm-footer>
    </section>
  </mat-tab>
  }
</mat-tab-group>
